@import "tailwindcss";

@theme {
  --font-inter: "inter", sans-serif;
  --font-inter-b: "inter-b", sans-serif;
  --font-inter-m: "inter-m", sans-serif;
  --font-inter-sb: "inter-sb", sans-serif;
  --font-inter-ex: "inter-ex", sans-serif;
  --font-inter-l: "inter-l", sans-serif;
  --font-inter-i: "inter-i", sans-serif;
  --font-inter-t: "inter-t", sans-serif;
  --font-inter-bi: "inter-bi", sans-serif;
  --font-interT: "interT", sans-serif;
  --font-interT-m: "inter-m", sans-serif;
  --font-interT-b: "interT-b", sans-serif;
  --font-interT-sb: "interT-sb", sans-serif;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-b";
  src: url("../assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-m";
  src: url("../assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-sb";
  src: url("../assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-ex";
  src: url("../assets/fonts/Inter_18pt-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-i";
  src: url("../assets/fonts/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-t";
  src: url("../assets/fonts/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interT";
  src: url("../assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interT-b";
  src: url("../assets/fonts/InterTight-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interT-m";
  src: url("../assets/fonts/InterTight-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interT-sb";
  src: url("../assets/fonts/InterTight-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interT-ex";
  src: url("../assets/fonts/InterTight-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interT-i";
  src: url("../assets/fonts/InterTight-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interT-t";
  src: url("../assets/fonts/InterTight-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
