body {
  font-family: 'figtree';
  color: var(--style-color-default);
}

.default-screen {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}

ion-content {
  --padding-bottom: var(--ion-safe-area-bottom);
}

ion-tab-bar {
  padding-bottom: env(safe-area-inset-bottom);
}

ion-tab-bar {
  padding-bottom: var(--ion-safe-area-bottom);
}

ion-tab-bar {
  padding-top: 8px;
  padding-bottom: 8px;
}

ion-ripple-effect {
  color: red !important;
}

ion-tab-button {
  --ripple-color: transparent;
}

ion-tab-button:focus {
  outline: none;
}

ion-tab-button::part(native) {
  background: transparent;
}

ion-tab-button.tab-selected svg {
  fill: var(--nav-svg-fill-active);
}

ion-tab-button svg {
  fill: var(--nav-svg-stroke-inactive);
  transition: color 0.2s ease, fill 0.2s ease;
}

ion-tab-button.tab-selected svg path {
  fill: var(--nav-svg-fill-active);
}

ion-tab-button svg path {
  stroke: var(--nav-svg-stroke-active);
  transition: color 0.2s ease, fill 0.2s ease;
}

ion-activated {
  all: none !important;
}